@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  src: local('Gilroy-ExtraBold'), url(./Gilroy-ExtraBold.otf) format('opentype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v5/sKd0EMYPAh5PYCRKSryvW1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}