<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Snip</title>
	<link href="./fonts/fonts.css" rel="stylesheet" type="text/css" />
  <link href="./css/lib/wing.min.css" rel="stylesheet" type="text/css" />
  <link href="./css/styles.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="./img/LogoBack.png"/>

	<noscript><style>section, footer { display: none !important; }</style><h2 id="noscript" class="text-center">Please enable Javascript!</h2></noscript>

	<script type="text/javascript"> CRISP_WEBSITE_ID = "cde67352-a4c0-4dcf-b009-8f21751b920a";(function(){ d=document;s=d.createElement("script"); s.src="https://client.crisp.im/l.js"; s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})(); </script>

</head>
<body>
	<div class="nav">
		<a href="/" id="logo"><img src="./img/LogoTransparent.png"/></a>
		<div class="item-right">
			<button class="btn btn-clear" id="settingsButton">Settings</button>
		</div>
	</div>
  <div class="dashboard-new">
    <form name="form" onsubmit="return check()" id="form">
        <input name="url" placeholder="URL" id="url" type="text"></input><input type="submit" value="SHORTEN"/>
    </form>
  </div>
  <div class="dashboard-links">
    <% for(var i = 1; i < links.length; i++) { %>
			<h5>Short Link:</h5>
			<div class="dashboard-short-link"><a href="/<%= links[i] %>">snipit.ga/<%= links[i] %></a></div>
    <%}%>
  </div>
	<footer id="footer">
        Made with <span id="heart">&#9825;</span> By <a id="linkP" class="underline white" href="http://kabir.ml" target="_blank">Kabir</a>
  </footer>
	<script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>
