<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Snip</title>
	<link href="./fonts/fonts.css" rel="stylesheet" type="text/css" />
    <link href="./css/lib/wing.min.css" rel="stylesheet" type="text/css" />
    <link href="./css/styles.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="./img/favicon.png"/>

</head>
<body>
	<!--<div class="nav">-->
	<!--	<div class="navItem">about</div>-->
	<!--	<div class="navItem">api</div>-->
	<!--</div>-->
	<div id="logo"><a href="/"><img src="./img/logo.svg"/></a></div>
	<div class="centered text-center">
	    <h1>SNIP</h1>
	    <p>dead-simple <br/>URL shortener</p>
	    <form action="/new" method="POST" name="form" onsubmit="return check()">
	        <input name="url" placeholder="URL" id="url" type="text"></input>
	        <input type="submit" value="SNIP IT"/>
	    </form>
	</div>
	<div id="social">
          <iframe src="https://ghbtns.com/github-btn.html?user=KingPixil&repo=wing&type=star&count=true" frameborder="0" scrolling="0" width="90px" height="20px"></iframe>
          <iframe src="https://ghbtns.com/github-btn.html?user=KingPixil&repo=wing&type=fork&count=true" frameborder="0" scrolling="0" width="90px" height="20px"></iframe>
      </div>
	<footer id="footer">
        Made with <span id="heart">&#9825;</span> By <a id="linkP" class="underline white" href="http://kabir.ml" target="_blank">Kabir</a>
    </footer>
	<script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>