/*General Styles*/

body {
  background: #f5f5f5;
  font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

h1 {
  color: #1098F7;
}

p {
  color: #666666;
  font-family: "Montserrat-Light";
  font-size: 2rem;
  margin: 1rem;
  word-wrap: break-word;
}

/*Stats Styles*/

#stats {
  min-height: 100vh;
  width: 100%;
}

.report {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 3rem;
  border: 2px solid #BCBCBC;
}

/*Utilities*/

.small-container {
  width: 80%;
  max-width: 500px;
}
