/*Styles*/

body {
  background: #f5f5f5;
  font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 800;
}

h1 {
  font-size: 6rem;
}


#hero .container {
  flex-direction: column;
}

#submit {
  width: 100%;
  margin-left: 0;
}

.modal {
  position: fixed;
  background: #f5f5f5;
  top: 0;
  left: 0;
  opacity: 0.98;
  display: none;
  z-index: 1000;
  text-align: center;
}

#shortened-url {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#close-modal {
  background: transparent;
  border: none;
  top: 5%;
  right: 5%;
  position: fixed;
}

#close-modal:hover {
  background: transparent;
  border: none;
}

#close-modal img {
  height: 50px;
  width: 50px;
}

#error {
  color: #E82F22;
}


/* === Footer === */
footer {
	position: absolute;
	margin: 5rem;
}

#footer-content {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#footer-name, #footer-madeby {
	margin-bottom: 0;
	margin-top: 0;
}

#footer-name {
	font-weight: 800;
}

#footer-desc {
	font-size: 2.5rem;
  margin-left: 1rem;
}

#footer-logo {
	height: 75px;
	width: 75px;
	border-radius: 10px;
}

#footer-link {
	color: #111111;
	text-decoration: none;
}
