/*General Styles*/

body {
    background-color: #f5f5f5;
    overflow-x: hidden;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}


h1 {
    font-size: 9rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Bold', sans-serif;
  color: #1098F7;
}

.tagline {
    font-family: 'Montserrat-Regular';
    font-weight: bolder;
    font-size: 2.5rem;
    color: #111111;
    margin-bottom: 2rem;
}

.content {
  max-width: 275px;
  margin-bottom: 5rem;
}

.center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.subhead {
  color: #111111;
  font-size: 1.8rem;
}

.body-text {
  color: #8F8F8F;
  font-size: 1.8rem;
}

/* Navbar Styles */

.nav {
  margin: 2rem;
  width: 100vw;
}

.item-right {
  position: absolute;
  top: 3%;
  right: 5%;
  font-size: 1.5rem;
}

#logo {
  position: absolute;
  top: 3%;
  left: 3%;
}

#logo img {
  height: 60px;
}

/*Hero Styles*/

#hero {
  min-height: 100vh;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

/*Features Styles*/

#features {
  height: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

#features h5 {
  margin-bottom: 5rem;
}

#features img {
  height: 75px;
  width: 75px;
  margin-bottom: 2rem;
}

/*How It Workes Styles*/

#how-it-works {
  height: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

#how-it-works h5 {
  margin-bottom: 5rem;
}

#how-it-works img {
  height: 75px;
  width: 75px;
  margin-bottom: 2rem;
}

/*Form Styles*/


::-webkit-input-placeholder {
   color: #8F8F8F;
   transition: all 0.5s ease;
}


input[type=text], input[type=password] {
    background: transparent;
    padding-left: 0;
    font-size: 1.5rem;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #8F8F8F;
    color: #8F8F8F;
    font-family: 'Montserrat-Regular';
    font-weight: bold;
}


input[type=text]:focus, input[type=password]:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    border-bottom: 2px solid #2CF6B3;
    color: #2CF6B3;
}

input[type=text]:focus::-webkit-input-placeholder, input[type=password]:focus::-webkit-input-placeholder {
   color: #2CF6B3;
}

input[type=submit] {
    width: 100%;
    margin-left: 0;
    margin-top: 1.5rem;
    border-radius: 0px;
    font-family: 'Montserrat-Regular';
    font-weight: bold;
    background: #2CF6B3;
    text-align: center;
    transition: all 1s ease !important;
}

input[type=submit]:hover {
    background-position: 100% 0;
}

#error {
  color: #E82F22;
  font-size: 1.5rem;
}

#success {
  color: #1098F7;
}

#success p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

#shortened-url {
  border: 1px dotted #1098F7;
  color: #1098F7;
  padding: 1rem;
  text-align: center;
  width: 15%;
}

.login-form {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#dashboard-form {
  display: inline;
  width: 300px;
}

/*Modal Styles*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  opacity: 0.97;
  background-color: #f5f5f5;
  display: table;
  text-align: center;
}

.closeModal {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
}
.closeModal img {
  height: 75px;
  width: 75px;
}

/*Dashboard Styles*/
.dashboard-new {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}

/*Footer Styles*/

footer {
  color: #8F8F8F;
  text-align: center;
  font-size: 2rem;
  font-family: "Montserrat-Regular";
  position: absolute;
  height: auto;
  padding: 1rem;
  width: 100%;
  bottom: 0;
}


footer a {
  color: #8F8F8F;
  border-bottom: 2px solid #8F8F8F;
  transition: all 0.5s ease;
  text-decoration: none;
}

footer a:hover {
  color: #1098F7;
  border-bottom: 2px solid #1098F7;
}
