<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Snip | Stats</title>
	<link href="../fonts/fonts.css" rel="stylesheet" type="text/css" />
    <link href="../css/lib/wing.min.css" rel="stylesheet" type="text/css" />
    <link href="../css/stats/stats.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="../img/favicon.png"/>

</head>
<body>
	<div class="centered text-center">
	    <h1 id="visits">-</h1>
	    <p><span id="p">people</span> <span id="h">have</span> visited the url</p>
	</div>
	<script src="../js/stats/stats.js"></script>
</body>
</html>
